<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.speech.recognizerdemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/siriicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="9467206" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="SGhpxWNdEPOWgoVbC6CcNOsK" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="7da3f342884be7468b49f8a75102bc97" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- end : baidu speech sdk -->

        <activity
            android:name="com.baidu.android.voicedemo.Setting"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="设置"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="com.baidu.speech.asr.demo.setting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.baidu.android.voicedemo.VoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.skydianshi.util.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="选取连接设备"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.skydianshi.obd.ObdActivity"></activity>


        <service
            android:name="com.skydianshi.obd.obdreader.MyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>